{% extends "base.html.twig" %}

{% block body %}
<header class="admin">

	<span class="name">dashboard</span>
	
	{{ include('admin/default/_logout.html.twig') }}

</header>


<div class="index">

    {% for gallery in galleries %}
    
    	<div id="{{ gallery.name }}"  class="indexTitle">
	        {{ gallery.name }}
	        
	        <div style="float : right">
	        	<a class="myButton" href="{{ path('gallery_edit', { 'id': gallery.id }) }}">edit</a>
	        </div>
	        
	        
			<div class="indexDescription">
	            {{ gallery.description }}
			</div>
		</div>
    
    
    
{#         <tr>#}
{#             <td><a href="{{ path('gallery_show', { 'id': gallery.id }) }}">{{ gallery.id }}</a></td>#}
{#             <td>{{ gallery.name }}</td>#}
{#             <td>{{ gallery.description }}</td>#}
{#             <td>#}
{#                 <ul>#}
{#                     <li>#}
{#                         <a href="{{ path('gallery_show', { 'id': gallery.id }) }}">show</a>#}
{#                     </li>#}
{#                     <li>#}
{#                         <a href="{{ path('gallery_edit', { 'id': gallery.id }) }}">edit</a>#}
{#                     </li>#}
{#                 </ul>#}
{#             </td>#}
{#         </tr>#}
    {% endfor %}
	<div>
		<a class="myButton" href="{{ path('gallery_new') }}">Add new gallery</a>
	</div>
	<div>
		<a class="myButton" href="{{ path('galleryitem_new') }}">Add new gallery item</a>
	</div>
</div>



{% endblock %}
