{% extends "base.html.twig" %}

{% block body %}
<header class="admin">

	<span class="name">dashboard</span>

	{{ include('admin/default/_logout.html.twig') }}

</header>

<div class="push"></div>

<div class="index">

    {% for gallery in galleries %}

    	<div id="{{ gallery.name }}"  class="indexTitle">
	        {{ gallery.name }}

	        <div style="float : right">
	        	<a class="myButton" href="{{ path('gallery_edit', { 'id': gallery.id }) }}">edit</a>
	        </div>

			<div class="indexDescription">
	            {{ gallery.description }}
			</div>
		</div>

    {% endfor %}

	<div>
		<a class="myButton" href="{{ path('gallery_new') }}">Add new gallery</a>
	</div>
	<div>
		<a class="myButton" href="{{ path('galleryitem_new') }}">Add new gallery item</a>
	</div>
</div>



{% endblock %}
