{% extends 'base.html.twig' %}

{% block my_js %}
<script src="/js/imageedit.js"></script>
{% endblock %}

{% block body %}

<header>
	<span class="serie">Edit image</span>
</header>

<div class="index">
    {{ form_start(edit_form) }}

	<div>
{{ form_label(edit_form.name) }}
{{ form_errors(edit_form.name) }}
{{ form_widget(edit_form.name) }}
	</div>
	<div>
{{ form_label(edit_form.dimensions) }}
{{ form_errors(edit_form.dimensions) }}
{{ form_widget(edit_form.dimensions) }}
	</div>
	<div>
{{ form_label(edit_form.techniques) }}
{{ form_errors(edit_form.techniques) }}
{{ form_widget(edit_form.techniques) }}
	</div>
	<div>
{{ form_label(edit_form.gallery) }}
{{ form_errors(edit_form.gallery) }}
{{ form_widget(edit_form.gallery) }}
	</div>


	<div class="wrapper clearfix">


	<div id="image" class="imageEdit">
{{ form_label(edit_form.image) }}
	
		<img class="admin" id="image-full" src="{{ imgPath }}{{ edit_form.vars.value.gallery }}/{{ edit_form.vars.value.image }}" />	
<div id="imageSize"></div>
{{ form_errors(edit_form.image) }}
{{ form_widget(edit_form.image) }}

	</div>
	
	<div id="bgimage" class="imageEdit">
{{ form_label(edit_form.bgimage) }}

		<img class="admin" id="image-bg" src="{{ imgPath }}{{ edit_form.vars.value.gallery }}/{{ edit_form.vars.value.bgimage }}" />	
<div id="bgimageSize"></div>
{{ form_errors(edit_form.bgimage) }}
{{ form_widget(edit_form.bgimage) }}

	</div>
	
	</div>
	
	<div>
        {{ form_widget(edit_form) }}
        <input class="button expanded" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
	</div>
	
	<div>
		<a class="myButton" href="{{ path('galleryitem_index') }}">Back to the list</a>
	</div>
	
	<div>
        {{ form_start(delete_form) }}
        	<input class="button expanded delete" type="submit" value="Delete">
        {{ form_end(delete_form) }}
	</div>
</div>
	
{% endblock %}
