{% extends 'base.html.twig' %}

{% block my_js %}
<script src="/js/script.js"></script>
{% endblock %}

{% block body %}

<img  id="bg" src="/images/{{ galleryItem.gallery }}/{{ galleryItem.bgImage }}" >

<header>
	<span class="navigation">
    	<a href="{{ path('gallery_show_content', {'name': galleryItem.gallery}) }}">&lt;</a>
    </span>
	<span class="serie">{{ galleryItem.gallery }}</span><span class="name">{{ galleryItem.name }}</span> 
</header>

<div class="table text-center">
	<div class="tableCell vertMiddle">

		<div id="imageWrapper">
			<img src="/images/{{ galleryItem.gallery }}/{{ galleryItem.image }}">
		</div>

	</div>
</div>

<footer>
	{{ galleryItem.dimensions }} / {{ galleryItem.techniques }} - {{ app.request.attributes.get('_route') }}
</footer>



<div id="prev"><a href="/galleryitem/{{ galleryItem.gallery }}/{{ galleryItem.id }}/prev"></a></div>
<div id="next"><a href="/galleryitem/{{ galleryItem.gallery }}/{{ galleryItem.id }}/next"></a></div>
{% endblock %}
