{% extends 'base.html.twig' %}

{% block my_js %}
<script src="/js/script.js"></script>
{% endblock %}

{% block my_tags %}

    {% set item = galleryItem %}

    {% set description = 'painting ' ~ galleryItem.name ~ ' in gallery ' ~ galleryItem.gallery %}

    {{ include('default/_socialTags.html.twig') }}

{% endblock %}

{% block body %}

<img  id="bg" src="/{{ imgPath }}/{{ galleryItem.gallery }}/{{ galleryItem.bgImage }}" >

<header>
	<span class="navigation">
    	<a class="tip" href="{{ path('gallery_show_content', {'name': galleryItem.gallery}) }}" title="back : keyboard b">&lt;</a>
    </span>
	<span class="serie show-for-medium">{{ galleryItem.gallery }}</span><span class="name">{{ galleryItem.name }}</span>
</header>

<div class="table text-center">
	<div class="tableCell vertMiddle">

		<div id="imageWrapper">
			<img src="/{{ imgPath }}/{{ galleryItem.gallery }}/{{ galleryItem.image }}">
		</div>

	</div>
</div>

<footer>
    {% if not galleryItem.dimensions is empty and not galleryItem.techniques is empty %}
	<span class="show-for-medium">{{ galleryItem.dimensions }} / {{ galleryItem.techniques }}</span>
    {% endif %}
	<div class="socialButtons">
	    {{ include('default/_social.html.twig') }}
	</div>
</footer>



<div id="prev">
    {% if previous is not empty %}
    <a href="/galleryitem/{{ galleryItem.gallery }}/{{ previous }}"></a>
    {% endif %}
</div>
<div id="next">
    {% if next is not empty %}
    <a href="/galleryitem/{{ galleryItem.gallery }}/{{ next }}"></a>
    {% endif %}
</div>
{% endblock %}
