{% extends 'base.html.twig' %}

{% block body %}

<img  id="bg" src="/images/{{ galleryItem.gallery }}/{{ galleryItem.bgImage }}" >

<header>
	<span class="serie">{{ galleryItem.gallery }}</span><span class="name">{{ galleryItem.name }}</span> 
</header>

<div class="table text-center">
	<div class="tableCell vertMiddle">

		<div id="imageWrapper">
			<img src="/images/{{ galleryItem.gallery }}/{{ galleryItem.image }}">
		</div>

	</div>
</div>

<footer>
	{{ galleryItem.dimensions }} / {{ galleryItem.techniques }}
</footer>
{% endblock %}
