{% extends 'base.html.twig' %}

{% block body %}
<header class="admin">
    <span class="navigation">
    	<a href="{{ path('admin_homepage') }}">&lt;</a>
    </span>
	<span class="serie">Add gallery item</span>
	{{ include('admin/default/_logout.html.twig') }}
</header>

<div class="index">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button myButton expanded" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="myButton" href="{{ path('admin_homepage') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
