{% extends 'base.html.twig' %}

{% block my_tags %}

{% if galleryItems is not empty %}

    {% set randomItem = random(galleryItems|length -1)  %}

    {% set item = galleryItems[randomItem] %}

    {% set description = 'gallery ' ~ item.gallery %}

    {{ include('default/_socialTags.html.twig') }}

{% endif %}

{% endblock %}

{% block body %}

<div class="stickyWrapper">

    <header>
        <span class="navigation">
        	<a class="tip" href="{{ path('gallery_index') }}" title="back : keyboard b">&lt;</a>
        </span>
        <span class="serie">{{ name }}</span>
    </header>

    <div class="push"></div>

    <div class="index">
    	{% for item in galleryItems %}

    		{% if loop.index0 is even %}
    		<div class="clearfix">
    		{% endif %}


    	<div class="galleryIndexWrapper">

        	<a class="itemTitle" href="/galleryitem/{{ item.gallery }}/{{ loop.index }}">
        		{{ item.name }}
        	</a>
        	<div class="text-center">
        		<a href="/galleryitem/{{ item.gallery }}/{{ loop.index }}">
    	    		<img class="preview" src="/{{ imgPath }}/{{ name }}/{{ item.image }}">
    	    	</a>
        	</div>
        	<div class="text-center">
        		<span class="details">{{ item.dimensions }}</span>

        		<span class="details">{{ item.techniques }}</span>
        	</div>

    	</div>

    		{% if loop.index0 is odd or loop.last %}
    		</div>
    		{% endif %}

    	{% endfor %}
    </div>
    <div class="push"></div>
</div>

<footer class="footer">
	{{ include('default/_social.html.twig') }}
</footer>

{% endblock %}
