{% extends 'base.html.twig' %}

{% block body %}

<header>
    <span class="navigation">
    	<a href="{{ path('gallery_index') }}">&lt;</a>
    </span>  
    <span class="serie">{{ name }}</span>
</header>

<div class="index">
	{% for item in galleryItems %}

		{% if loop.index0 is even %}
		<div class="clearfix">
		{% endif %}


	<div class="galleryIndexWrapper">
	
    	<div class="indexTitle">
    		{{ item.name }}
    	</div>
    	<div class="text-center">
    		<a href="/galleryitem/{{ item.gallery }}/{{ item.id }}">
	    		<img class="preview" src="{{ imgPath }}/{{ name }}/{{ item.image }}">
	    	</a>
    	</div>
    	<div class="text-center">
    		<span class="details">{{ item.dimensions }}</span>
    		
    		<span class="details">{{ item.techniques }}</span>
    	</div>

	</div>


		{% if loop.index0 is odd %}
		</div>
		{% endif %}



	{% endfor %}
</div>

{% endblock %}
