{% extends 'base.html.twig' %}

{% block my_tags %}

{% set randomItem = random(galleryItems|length -1)  %}

{% set socialImage = app.request.schemeAndHttpHost ~ '/' ~ imgPath ~ '/' ~ galleryItems[randomItem].gallery ~ '/' ~ galleryItems[randomItem].image %}
{% set socialTitle = galleryItems[randomItem].gallery ~ '/' ~ galleryItems[randomItem].name %}

<meta name="twitter:card"  content="photo" />
<meta name="twitter:site"  content="@upchchsupport" />
<meta name="twitter:title" content="{{ socialTitle }}" />
<meta name="twitter:image" content="{{ socialImage }}" />

<meta property="og:title"  content="{{ socialTitle }}" />
<meta property="og:image"  content="{{ socialImage }}" />
{% endblock %}

{% block body %}

<div class="stickyWrapper">

    <header>
        <span class="navigation">
        	<a class="tip" href="{{ path('gallery_index') }}">&lt;<span class="tip">back : keyboard b</span></a>
        </span>
        <span class="serie">{{ name }}</span>
    </header>

    <div class="push"></div>

    <div class="index">
    	{% for item in galleryItems %}

    		{% if loop.index0 is even %}
    		<div class="clearfix">
    		{% endif %}


    	<div class="galleryIndexWrapper">

        	<a class="itemTitle" href="/galleryitem/{{ item.gallery }}/{{ loop.index }}">
        		{{ item.name }}
        	</a>
        	<div class="text-center">
        		<a href="/galleryitem/{{ item.gallery }}/{{ loop.index }}">
    	    		<img class="preview" src="/{{ imgPath }}/{{ name }}/{{ item.image }}">
    	    	</a>
        	</div>
        	<div class="text-center">
        		<span class="details">{{ item.dimensions }}</span>

        		<span class="details">{{ item.techniques }}</span>
        	</div>

    	</div>

    		{% if loop.index0 is odd or loop.last %}
    		</div>
    		{% endif %}

    	{% endfor %}
    </div>
    <div class="push"></div>
</div>

<footer class="footer">
	{{ include('default/_social.html.twig') }}
</footer>

{% endblock %}
