{% extends 'base.html.twig' %}

{% block body %}
<header class="admin">
    <span class="navigation">
    	<a href="{{ path('admin_homepage') }}">&lt;</a>
    </span>
	<span class="serie">Edit gallery</span>
	{{ include('admin/default/_logout.html.twig') }}
</header>
<div class="index">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button expanded" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

	<div>
		<a class="myButton" href="{{ path('admin_homepage') }}">Back to the list</a>
	</div>
	<div>
        {{ form_start(delete_form) }}
            <input class="button expanded delete" type="submit" value="Delete">
        {{ form_end(delete_form) }}
	</div>

</div>
{% endblock %}
